@import './styles/normalize';
@import './styles/mixins';

#app {
  min-height: 100vh;
  font-size: 18px;
  color: #252525;

  @include onTablet {
    font-size: 24px;
  }

  @include onDesktop {
    font-size: 32px;
  }
}

